<div class="head">
  <h5>User List</h5>
</div>

<div class="head" style="float: right; margin-right: 3.4rem;margin-top: 1rem;">
  <input class="form-control me-2" type="search" [(ngModel)]="filterTerm" (change)="onChange($event)"
    placeholder="Search" aria-label="Search">
  <img id="search" src="assets\ICONS\search.png">
</div>

<div class="container1">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>FULL NAME</th>
        <th>USERNAME</th>
        <th>ROLE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList" (click)="selectUser($event, user)"
        [class.highlighted]="user.fullName === this.currentUsers">
        <td>{{ user.fullName }}</td>
        <td>{{ user.username }}</td>
        <td>
          <li style="list-style: none;" *ngFor="let role of user.roles">{{ role['name'] }}</li>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">
  <div class="btn-group" role="group" style="margin-top: -5rem;">
    <button class="btn btn-dark" [disabled]="!canMoveToPreviousPage" (click)="moveToPreviousPage()">
      Prev
    </button>
    <button class="btn btn-dark" disabled style="width: 100px">
      {{ pageIndex + 1 }} / {{ this.listPagination?.totalPages }}
    </button>
    <button class="btn btn-dark" [disabled]="!canMoveToNextPage" (click)="moveToNextPage()">
      Next
    </button>
  </div>
</div>
