.heading {
  margin-left: 1rem;
  margin-top: 1rem;
}
.container1 {
  background: #fff;
  padding: 20px 20px 10px 20px;
  box-shadow: 5px 10px 10px 2px #5a5a5a;;
  border-width: 5px;
  border-color: #3b1840;
  margin-top: 10px;
  margin-right: 3.5rem;
  margin-left: 1rem;
}

.table img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}



::ng-deep .mat-progress-bar-fill::after {
background-color: #aa0606;
}

::ng-deep .mat-progress-bar-buffer {
background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
border-radius: 2px;
}

.loader{
  position:fixed;
  width: 100%;
  z-index: 99;
  margin-top: 3.8rem;
}
