@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  /* margin: 0;
  padding: 0;  */
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: white;
}
.container {
  padding: 25px 40px 10px 40px;
}

.container1 {
  padding: 25px 40px 10px 40px;
}

/* .container1 h5{
  margin-top: -4.5rem;
} */

.change {
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  background-color: #bc2550;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  float: right;
}

.change1 {
  cursor: pointer;
  border-radius: 3px;
  color: #fff !important;
  background-color: #bc2550;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6.5px;
  padding-top: 6.5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  float: right;
}

.change:hover , .change1:hover{
  background-color: #ea4070;
  color: white !important;
  text-decoration: none !important;
}

.heading h5 {
  margin-left: 1rem;
  margin-bottom: 20px;
  margin-top: 4.5rem;
  color: #2e2e2e;
}

#hrLine {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 30px;
  margin-left: 1rem;
  width: 90%;
}

#hrLine1 {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 70px;
  width: 75%;
  color: #bc2550;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: left;
  border-radius: 3px;
  color: #fff;
  background-color: #1e2252 ;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 3rem;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
/* .custom-file-upload:hover {
  background-color: #ea4070;
  color: white !important;
  text-decoration: none !important;
} */

img {
  border-radius: 50%;
  margin: 20px;
}

.project {
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: black;
  background-color: #b3dec2;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.project:hover {
  color: #2e2e2e;
}

.roleBox{
    text-align: center;
    border-radius: 15px;
    background-color: #c8ddfd;
    border: 1px solid rgb(3, 3, 146);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: "Ubuntu", sans-serif;
    margin-top: 20px; 
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  
}

.name {
  margin-top: -15px !important;
  font-size: 14px !important;
  background-color: none !important;
}

#email {
  padding-left: 2px !important;
}

#fullName {
  padding-left: 2px !important;
}
/*User profile styles */

@media (max-width: 700px) {
  .container {
    padding: 25px 40px 10px 40px;
  }

  .container1 {
    padding: 25px 40px 10px 40px;
  }

  .heading h5 {
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 4.5rem;
    color: #2e2e2e;
  }

  #hrLine {
    align-content: center;
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-bottom: 70px;
    margin-left: 120px;
    width: 75%;
  }


}
