<div class="head">
  <h5>Sprint Over Velocity</h5>
</div>

<div class="row" style="padding: 0;">
  <div class="col-md-12" style="padding: 0;">
    <div class="card-col">
      <nb-card size="small" style="margin-left: 1rem;padding: 1rem;margin-bottom: 1rem;margin-right: 3.4rem">
        <canvas height="75" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </nb-card>
    </div>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="small" style="margin-left: 1rem;margin-right: 3.4rem;margin-bottom: 1rem;">
      <div class="container">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Status</th>
              <th>Story Points</th>
              <th>Story Points Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sprint of sprintChartData[0]">
              <td>{{ sprint.sprint?.id }}</td>
              <td>{{ sprint.sprint?.name }}</td>
              <td>{{ sprint.sprint?.status }}</td>
              <td>{{ sprint.storyPoint }}</td>
              <td>{{ sprint.balanceStoryPoint }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card>
  </div>
</div>
