<nb-card style="margin-left: auto;margin-right: auto;margin-top: 7.5rem; width: 70%;" >
  <div class="container1">
    <div class="text">CHANGE PASSWORD</div>
    <hr style="border-width: unset;border-color: #343a40; margin-top: 1rem;margin-bottom: 1rem;">
    <form [formGroup]="userFormPassUpdate" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="row">
            <label for="Passowrd" class="control-label required">New Password</label>
            <input type="password" formControlName="password" placeholder="Type here..." class="form-control"
              [ngClass]="{ 'is-invalid': submitted && userFormPassUpdate.get('password').errors }" maxlength="8" />
            <app-form-validation-common *ngIf="
                  userFormPassUpdate.controls['password'].hasError('required')
                " [displayError]="isFieldValid('password')" errorMsg="Please enter your password! ">
            </app-form-validation-common>
            <app-form-validation-common *ngIf="
                  userFormPassUpdate.controls['password'].hasError('minlength')
                " [displayError]="isFieldValid('password')" errorMsg="Assign maximum of 8 chractors">
            </app-form-validation-common>
            <app-form-validation-common *ngIf="
                  userFormPassUpdate.controls['password'].hasError('pattern')
                " [displayError]="isFieldValid('password')"
              errorMsg="Please use atleast one number and one special character">
            </app-form-validation-common>
          </div>
          <br>
          <div class="row">
            <label for="confirmPassword" class="control-label required">Confirm password</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Type here..."
              class="form-control" [ngClass]="{
                  'is-invalid': submitted && userFormPassUpdate.get('confirmPassword').errors
                }"  maxlength="8"/>
            <app-form-validation-common *ngIf="
                  userFormPassUpdate.controls['confirmPassword'].hasError(
                    'required'
                  )
                " [displayError]="isFieldValid('confirmPassword')" errorMsg="Please re-enter your password! ">
            </app-form-validation-common>
            <app-form-validation-common *ngIf="
                  userFormPassUpdate.controls['confirmPassword'].hasError(
                    'mustMatch'
                  )
                " [displayError]="isFieldValid('confirmPassword')" errorMsg="Password does not match">
            </app-form-validation-common>
          </div>
        </div>
      </div>
      <br />
      <button class="submit1" (click)="onReset()">CANCEL</button>
      <button class="submit" type="submit">SAVE</button>
    </form>
  </div>

</nb-card>
